<html>
<head>
    <title>Welcome to Dumblr</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>    
        <center>
            <img id="dummy"src="https://vector.me/files/images/3/8/38058/for_dummies.png" width= "10%">
        </center>
        <ul class="navs">
            <li><a href="/homepage" class="link">Home</a></li>
            <li><a href="/profile" class="link">Profile</a></li>
            <a class="btn btn-primary" href="logout">Logout</a>

         </ul>
    </header>
    <br>
    <ul class="nav flex-column">
        <li class="nav-item">
        <img class="icon"src="https://thefader-res.cloudinary.com/private_images/w_1440,c_limit,f_auto,q_auto:best/RUIZ_BadBunny_01_web_p5baep/shirt-vintage-necklace-and-sunglasses-bad-bunny-s-own.jpg">
            <a class="nav-link active"  href="https://chidalgo1221.github.io/Bad-Bunny/">Bad Bunny</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://chidalgo1221.github.io/Pokedex/">Pokemon</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="https://chidalgo1221.github.io/Makeup-Side-Assignment/">Make-Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/deactivate">Deactivate</a>
        </li>
    </ul>
    <form method="POST" action="/posts">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea name="post_text" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>


    <% @all_posts.reverse_each do |posts| %>
        <div class="card">
            <h2><%= posts.user.first_name + " " + posts.user.last_name %></h2>
            <p><%= posts.post_text %></p>
        </div>
    <% end %>



    </body>
</html>