<html>
<head>
    <title>Welcome to Dumblr</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>    
        <center>
            <img id="dummy"src="https://vector.me/files/images/3/8/38058/for_dummies.png" width= "10%">
        </center>
    </header>
</body>

</html>