<html>
<head>
    <title>Welcome to Dumblr</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <header>    
        <center>
            <img id="dummy"src="https://vector.me/files/images/3/8/38058/for_dummies.png" width= "10%">
        </center>
        <ul class="navs">
            <li><a href="/homepage" class="link">Home</a></li>
            <li><a href="/profile" class="link">Profile</a></li>
            <a class="btn btn-primary" href="logout">Logout</a>

         </ul>
    </header>
    <center>
    <img src="dis.jpg" width= "30%">
    </center>
    <ul>
    <h1>Carlos Hidalgo</h1>
    <h2>Birthday: December,21st</h2>
    <h2>Friends: 250</h2>
    <br>
    <h1>Pictures</h1>
    <img src="dis.jpg" width= "30%">
    <img src="2019.jpg" width= "30%">
    <img src="car.jpg" width= "50%">
    <img src="tree.jpg" width= "50%">
</body>
</html>